[submodule "sparrow"]
	path = sparrow
	url = https://github.com/prosyslab/sparrow.git
[submodule "smake"]
	path = smake
	url = https://github.com/prosyslab/smake.git
[submodule "Logger"]
	path = Logger
	url = git@github.com:prosyslab/DAFL.git
